parameters:
    level: 5
    paths:
        - pleaseup-hotspots.php
        - uninstall.php
        - includes
    excludePaths:
        - vendor
        - node_modules
        - assets/dist
        - tests/fixtures
    bootstrapFiles:
        - tests/bootstrap-phpstan.php
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
